kafka-python
faust-streaming
aiokafka==0.11.0
dagster
dagster-webserver
dagster-aws
dagster-snowflake
pandas
polars
pyarrow
redis
boto3
requests
python-dotenv
deltalake
dbt-snowflake<1.9
dbt-core<1.9
dagster-dbt<1.9
prometheus-client
streamlit
plotly
pytest
pytest-cov
pytest-mock
mypy
ruff
pydantic
types-setuptools
types-requests
types-boto3
bandit
safety
